<h2>Add a new Class here</h2>
<p>
    {{controller.message}}
</p>

<form ng-submit="controller.save()">
    <label>Instructor Name:</label>
    <div>
        <input ng-model="controller.barClass.instructor" />
    </div> <br />
    <label>Class Name:</label>
    <div>
        <input ng-model="controller.barClass.name" />
    </div> <br />
    <label>Class Type:</label>
    <div>
        <input ng-model="controller.barClass.type" />
    </div> <br />
    <label>Date:</label>
    <div>
        <input ng-model="controller.barClass.date" />
    </div> <br />
    <input type="submit" value="Save" />
</form>