<div style="float:left; width=50%">
    <h2>Edit a class here</h2>
    <p>
        {{controller.message}}
    </p>

    <form>
        <select ng-model="controller.barInstructor" ng-options="barClass.instructor for barClass in controller.barClasses | unique:'instructor'">
            <option value="0">Default</option>
        </select>
        <select ng-model="controller.selectedBarClass" ng-options='(barClass.name+" "+(barClass.date | date:"MM-dd-yy")) for barClass in controller.barClasses | filter:{instructor:controller.barInstructor.instructor}'>
            <option value="0">Default</option>
        </select>
        <!--<ul>
            <li ng-repeat="barClass in controller.barClasses | filter:{instructor:controller.barInstructor.instructor}">
                <a ng-click="controller.selectBarClass(barClass)">{{barClass.date | date:"MM-dd-yy"}} &nbsp; {{barClass.name}}</a>
            </li>
        </ul>-->
    </form>
    <div>
        <div>
                <table>
                    <thead>
                        <tr>
                            <th>Exercise Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <form ng-repeat="exercise in controller.selectedBarClass.exercises" >
                                    <input placeholder="{{exercise.description}}" ng-model="exercise.description"/>
                                    <input type="submit" value="Update" ng-click="controller.update(exercise)" />
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form>
                                    <input ng-model="exercise.description" />
                                    <input type="submit" value="Add" ng-click="controller.save(exercise)"/>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
        </div>
    </div>
</div>

<div style="float:right; width=50%">
    <h2>View a class here</h2>
    <p>
        {{controller.message2}}
    </p>

    <form>
        <select ng-model="controller.barInstructor2" ng-options="barClass2.instructor for barClass2 in controller.barClasses | unique:'instructor'" ng-change="controller.pickInstructor()">
            <option value="0">Default</option>
        </select>
        <select ng-model="controller.selectedBarClass2" ng-options='(barClass2.name+" "+(barClass2.date | date:"MM-dd-yy")) for barClass2 in controller.barClasses | filter:{instructor:controller.barInstructor2.instructor}'>
            <option value="0">Default</option>
        </select>
        <!--<ul>
            <li ng-repeat="barClass2 in controller.barClasses | filter:{instructor:controller.barInstructor2.instructor}">
                <a ng-click="controller.selectBarClass2(barClass2)">{{barClass2.date | date:"MM-dd-yy"}} &nbsp; {{barClass2.name}}</a>
            </li>
        </ul>-->
    </form>

    <form>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Exercise Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exercise in controller.selectedBarClass2.exercises">
                        <td>{{exercise.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>