<div style="float:left; width=50%">
    <h2>Edit a class here</h2>
    <p>
        {{controller.message}}
    </p>

    <form>
        <select ng-model="controller.selectedInstructor" ng-options="instructor as instructor.userName for instructor in controller.instructors" ng-change="controller.getClassesByInstructor()">
            <option value="0">Default</option>
        </select>
        <select ng-model="controller.selectedInstructorClass" ng-options='(selectedInstructorClass.name+" "+(selectedInstructorClass.date | date:"MM-dd-yy")) for selectedInstructorClass in controller.selectedInstructorClasses' ng-change="controller.getExercises()">
            <option value="0">Default</option>
        </select>
        <input type="submit" value="Delete this class" ng-click="controller.deleteBarMethodClass(selectedInstructorClass)" />
    </form>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Exercise Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form ng-repeat="exercise in controller.selectedInstructorClassExercises" >
                                <input placeholder="{{exercise.description}}" ng-model="exercise.description"/>
                                <input type="submit" value="Update" ng-click="controller.updateExercise(exercise)" />
                                <input type="submit" value="Delete" ng-click="controller.deleteExercise(exercise)" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input ng-model="newExercise.description" />
                                <input type="submit" value="Add" ng-click="controller.addExercise(newExercise)"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="float:right; width=50%">
    <h2>View a class here</h2>
    <p>
        {{controller.message2}}
    </p>

    <form>
        <select ng-model="controller.selectedInstructor2" ng-options="instructor as instructor.userName for instructor in controller.instructors" ng-change="controller.getClassesByInstructor2()">
            <option value="0">Default</option>
        </select>
        <select ng-model="controller.selectedInstructor2Class" ng-options='(selectedInstructor2Class.name+" "+(selectedInstructor2Class.date | date:"MM-dd-yy")) for selectedInstructor2Class in controller.selectedInstructor2Classes' ng-change="controller.getExercises2()">
            <option value="0">Default</option>
        </select>
    </form>

    <form>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Exercise Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exercise in controller.selectedInstructor2ClassExercises">
                        <td>{{exercise.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>